.field {
  display: flex;
}

.right {
  padding-left: 10px;
}

p {
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 0px;
}

th, .yearCell {
  text-align: center;
}

.error {
  color: red;
}
